# -- Deploy Argo CD Applications within this helm release
# @default -- `[]` (See [values.yaml])
## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/
applications:
  argocd:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "0"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: 'https://argoproj.github.io/argo-helm'
      chart: argo-cd
      targetRevision: "8.5.3"
      helm:
        valueFiles:
        - $values/argo-cdviz/argocd/values.override.yaml
    - repoURL: 'https://github.com/argo-multiverse-labs/local-cluster.git'
      targetRevision: feat/cdviz
      ref: values
    destination:
      server: https://kubernetes.default.svc
      namespace: argocd
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
    info:
    - name: url
      value: https://argoproj.github.io/

  prometheus:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "1"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    source:
      repoURL: 'https://prometheus-community.github.io/helm-charts'
      chart: kube-prometheus-stack
      targetRevision: "77.10.0"
    destination:
      server: https://kubernetes.default.svc
      namespace: prometheus
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
    info:
    - name: url
      value: https://prometheus-community.github.io/

  cdviz-db:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "2"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    source:
      repoURL: 'oci://ghcr.io/cdviz-dev/charts'
      targetRevision: 0.4.0-101-gfd91e6c
      chart: cdviz-db
      helm:
        values: |
          db_url: "postgresql://cdviz:cdviz@cdviz-db-postgresql:5432/cdviz?sslmode=disable"
          secret:
            name: cdviz-db-su
          storage_size: 100Mi
          monitor_pod:
            enable: true
          postgresql:
            auth:
              postgresPassword: postgres
              username: cdviz
              password: cdviz
              database: cdviz
            primary:
              persistence:
                size: 1Gi
    destination:
      server: https://kubernetes.default.svc
      namespace: cdviz
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
    info:
    - name: component
      value: database
    - name: github
      value: https://github.com/cdviz-dev/cdviz

  cdviz-collector:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "3"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    source:
      repoURL: 'oci://ghcr.io/cdviz-dev/charts'
      targetRevision: 0.4.0-104-g65d7381
      chart: cdviz-collector
      helm:
        values: |
          env:
            debug_sink: true
            database_sink: true
            database_url:
              fromSecret: cdviz-db-su
              key: db_url
            github_webhook_signature_token:
              fromSecret: cdviz-collector
              key: github_webhook_signature_token
          kubewatch:
            enabled: true
          secret:
            github_webhook_signature_token: "changeme123456789"
          service:
            type: ClusterIP
            port: 3000
          datasources:
            - name: argocd
              type: argocd
              endpoint: http://argocd-server.argocd.svc.cluster.local:80
              insecure: true
              token: "" # Will need to be configured with ArgoCD token
    destination:
      server: https://kubernetes.default.svc
      namespace: cdviz
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
    info:
    - name: component
      value: collector
    - name: documentation
      value: https://cdviz.dev/
    - name: github
      value: https://github.com/cdviz-dev/cdviz

  cdviz-grafana:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "4"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    source:
      repoURL: 'oci://ghcr.io/cdviz-dev/charts'
      targetRevision: 0.4.0-101-gfd91e6c
      chart: cdviz-grafana
      helm:
        values: |
          grafana:
            enabled: false  # We already have grafana from kube-prometheus-stack
          dashboards:
            enabled: true
            label: grafana_dashboard
            labelValue: "1"
          datasource:
            enabled: true
            url: http://cdviz-db-postgresql:5432
            database: cdviz
            user: cdviz
            password: cdviz
    destination:
      server: https://kubernetes.default.svc
      namespace: cdviz
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
    info:
    - name: component
      value: grafana-dashboards
    - name: github
      value: https://github.com/cdviz-dev/cdviz

  app-of-apps:
    namespace: argocd
    additionalAnnotations:
      argocd.argoproj.io/sync-wave: "5"
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: 'https://argoproj.github.io/argo-helm'
      chart: argocd-apps
      targetRevision: "2.0.2"
      helm:
        valueFiles:
        - $values/argo-cdviz/argocd-apps/values.override.yaml
    - repoURL: 'https://github.com/argo-multiverse-labs/local-cluster.git'
      targetRevision: feat/cdviz
      ref: values
    destination:
      server: https://kubernetes.default.svc
      namespace: apps
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
    info:
    - name: url
      value: https://argoproj.github.io/